<!--This is a list of missing audio files. The audio_find.xsl script generates the audio.html list, and I've hand-edited it to create this list.-->
	<h1 class="title">Section Beginning Mi'gmaq</h1> 
    <h2 class="title">Unit Introduction to Mi'gmaq</h2>
      <h3 class="title">Lesson Rhythm</h3> 
        <h4 class="title">Vocab 1</h4> 
          <p>Missing: Line 1: epit     e'pit</p>
    <h2 class="title">Unit Numbers and Counting</h2>
      <h3 class="title">Lesson Counting to One Hundred</h3>
        <h4 class="title">Vocab 2</h4> 
          <p>Missing: Line 5: gasg'ptnnaqan</p>
	<h1 class="title">Section Animals, Food, Household</h1> 
    <h2 class="title">Unit Household items and clothing</h2> 
      <h3 class="title">Lesson Let's go shopping!</h3> 
        <h4 class="title">Dialog 1</h4> 
          <p>Missing: Line 1: Lo'?.</p> 
          <p>Missing: Line 2: Goqwei?</p> 
          <p>Missing: Line 3: Gi'l na gisi-pettaqte'muin. Goqwei pewatmu's'p?</p> 
          <p>Missing: Line 4: A' getu'-wije'win qame'g?</p> 
          <p>Missing: Line 5: Nige'?</p> 
          <p>Missing: Line 6: E'e.</p> 
          <p>Missing: Line 7: Ge' ignmui ta's'gl ajietl, pas amujpa sa'sew'gna'si.</p> 
          <p>Missing: Line 8: Gatta' gisi wije'wult's.</p> 
          <p>Missing: Line 9: 'Mm...</p> 
          <p>Missing: Line 10: Tami tett getu'-lien?</p> 
          <p>Missing: Line 11: Getu'-natanguai.</p> 
          <p>Missing: Line 12: Etugjel Sobey-eg.</p> 
          <p>Missing: Line 13: Nat-goqwei getu'-nattelm ugjit wela'gowei.</p>  
          <p>Missing: Line 14: Na to'q: Wije'wult's.</p> 
          <p>Missing: Line 15: A'</p>
        
  <h1 class="title">Section Bodies, motion, and position</h1> 
    <h2 class="title">Unit Motion</h2>
      <h3 class="title">Lesson How about a swim?</h3> 
        <h4 class="title">Dialog 1</h4> 
          <p>Missing: Line 1: Egsitpu'gl altugwi'm awtigtug gesgmnaq mijjiw.</p><p>Missing: Line 2: ­Mu gesatmu altugwi'm.</p> 
          <p>Missing: Line 3: Goqwei migua'tu'n ?</p> 
          <p>Missing: Line 4: ­Gesatm ala'm sitmug.</p> 
          <p>Missing: Line 5: O! Ula nitap Douglas aq ni'n naji ala'meg qospemg sapo'nug, getu' wije'wieg?</p> 
          <p>Missing: Line 6: ­E'e, talilta'tesnu.</p> 
          <p>Missing: Line 7: Douglas aq ni'n 'll'tugwi'tesnen egsitpu'nug aq Sosep 'll'ga'tew aq (gi'l) gisila'gwi'tegetes na'te'l toqo na'te'l tliultesgultesnen.</p> 
          <p>Missing: Line 8: ­Nmultes sapo'nug!</p> 
      <h3 class="title">Lesson Sports names</h3> 
        <h4 class="title">Vocab 4</h4> 
          <p>Missing: Line 5: wesg'timg</p> 

  <h1 class="title">Section Around the House</h1> 
    <h2 class="title">Unit Wants and Needs, Advanced</h2>
      <h3 class="title">Lesson Kitchen vocabulary</h3>
        <h4 class="title">Vocab 6</h4> 
          <p>Missing: Line 3: pisew</p> 
      <h3 class="title">Lesson More food words</h3>
        <h4 class="title">Vocab 2</h4> 
          <p>Missing: Line 5: apu</p> 
        <h4 class="title">Vocab 3</h4> 
          <p>Missing: Line 4: almijeming'g</p>
          
  <h1 class="title">Section Advanced Topics</h1>
    <h2 class="title">Unit Distinguishing groups of people</h2> 
      <h3 class="title">Lesson We (inclusive) vs. We (exclusive)</h3> 
        <h4 class="title">Dialog 1</h4> 
          <p>Missing: Line 1: Ni'nen gisiguieg; gatu gi'l maljewejuin.</p> 
          <p>Missing: Line 2: Ni'nen e'pitewieg; gatu gi'l ji'nmuin.</p> 
          <p>Missing: Line 3: Ni'nen ji'nmuieg; gatu gi'l e'pitewin.</p> 
        <h4 class="title">Dialog 2</h4> 
          <p>Missing: Line 1: Ginu gisigui'gw: gi'l gisiguin, aq ni'n elg gisigui.</p> 
          <p>Missing: Line 2: Ginu maljewejui'gw: gi'l maljewejuin, aq ni'n elg maljewejui.</p> 
          <p>Missing: Line 3: Ginu e'pitewi'gw: gi'l e'pitewin, aq ni'n elg e'pitewi.</p> 
          <p>Missing: Line 4: Ginu ji'nmui'gw: gi'l ji'nmuin, aq ni'n elg ji'nmui.</p> 
      
    <h2 class="title">Unit Weather and Environment</h2> 
      <h3 class="title">Lesson Weather Vocabulary</h3> 
        <h4 class="title">Vocab 18</h4> 
          <p>Missing: Line 1: Taligisg'g?</p> 
          <p>Missing: Line 2: U'nig.</p> 
          <p>Missing: Line 3: Taligisg'g?</p> 
          <p>Missing: Line 4: Saqpigisg'g.</p>
        <h4 class="title">Vocab 20</h4> 
          <p>Missing: Line 1: Taligisg'g?</p> 
          <p>Missing: Line 2: Epteg.</p>  
      <h3 class="title">Lesson Weather and tense</h3> 
        <h4 class="title">Vocab 1</h4> 
          <p>Missing: Line 1: Gigpesaqap.</p> 
          <p>Missing: Line 2: Gigpesaq.</p> 
          <p>Missing: Line 3: Gigpesatew.</p> 
        <h4 class="title">Vocab 2</h4> 
          <p>Missing: Line 1: Alugwig'p.</p> 
          <p>Missing: Line 2: Alugwig.</p> 
          <p>Missing: Line 3: Alugwitew.</p> 
        <h4 class="title">Vocab 3</h4> 
          <p>Missing: Line 1: Wasoqotesg'p, aq gaqtugwewig'p</p> 
          <p>Missing: Line 2: Wasoqotesg, aq gaqtugwewig</p> 
          <p>Missing: Line 3: Wasoqotest'tew, aq gaqtugwewitew</p> 
        <h4 class="title">Vocab 4</h4> 
          <p>Missing: Line 1: Na'gu'setewig'p</p> 
          <p>Missing: Line 2: Na'gu'setewig</p> 
          <p>Missing: Line 3: Na'gu'setewitew</p> 
        <h4 class="title">Vocab 5</h4> 
          <p>Missing: Line 1: Weju's'g'p</p> 
          <p>Missing: Line 2: Weju's'g</p> 
          <p>Missing: Line 3: Ugju's'gt'tew</p> 
        <h4 class="title">Vocab 6</h4> 
          <p>Missing: Line 1: U'nig'p</p> 
          <p>Missing: Line 2: U'nig</p> 
          <p>Missing: Line 3: U'nitew</p> 
        <h4 class="title">Vocab 7</h4> 
          <p>Missing: Line 1: Pesaqap</p> 
          <p>Missing: Line 2: Pesaq</p> 
          <p>Missing: Line 3: 'Psatew</p> 
        <h4 class="title">Vocab 8</h4> 
          <p>Missing: Line 1: Tege'g'p</p> 
          <p>Missing: Line 2: Tege'g</p> 
          <p>Missing: Line 3: 'Tge'tew</p> 
    <h2 class="title">Unit Bonus dialog</h2> 
      <h3 class="title">Lesson 	Did you have pets?</h3> 
        <h4 class="title">Dialog 1</h4> 
          <p>Missing: Line 1:  Eggunsip'ni'g wi'sijji'j maljewe'jewinug?</p> 
          <p>Missing: Line 2: E'e, 'nsis aq ni'n eggunget'p'ni'g gitg: gajuewj aq nmuj.</p> 
          <p>Missing: Line 3: Megwite'tm'n tan teluis'pni'g?</p> 
          <p>Missing: Line 4: Megwite'tm gajuewjaq telui's'p "Jugui'pi" aq nmujaq "Wigum".</p> 
          <p>Missing: Line 5: Tal'mugsi'sni'g 'gtuemji'jg?</p> 
          <p>Missing: Line 6: Gajuewjaq na poqtaqai-m'qtawe'g aq nmujaq na wisaqamugsit. Gatu getu'-witm amgwesewei nmujaq nenaqapna 'ntlamugsis ugtueml teluisipnaq "Gilu".</p> 
              

